* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    background: #1e2140;
    color: #fff;
}

.report-page {
    padding: 24px;
}

/* HEADER */
.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.left {
    display: flex;
    gap: 14px;
    align-items: center;
}

.hamburger {
    font-size: 22px;
    cursor: pointer;
}
.brand {
    font-size: 20px;
    font-weight: 600;
}

.search input {
    background: #2b2f55;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    color: #fff;
    width: 260px;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ccc;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.stat-card {
    background: #2a2e54;
    padding: 18px;
    border-radius: 14px;
}

.stat-card p {
    font-size: 13px;
    color: #cbd5f5;
}

.stat-card h2 {
    margin-top: 6px;
    font-size: 26px;
}

/* MAIN */
.report-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* CHART CARD */
.main-card {
    background: #2a2e54;
    border-radius: 18px;
    padding: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.filters {
    display: flex;
    gap: 10px;
}

.filters select {
    background: #1e2140;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
}

.card-body {
    height: 340px;
}

/* ALERT */

.alert-card h4 {
    margin-bottom: 16px;
}

.alert-item {
    display: flex;
    gap: 12px;
    background: #23274a;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.alert-item img {
    width: 400px;
    height: 100px;
    object-fit: contain;
}

.alert-item p {
    font-size: 12px;
    color: #cbd5f5;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #24274d;
    padding: 24px;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 1000;
}

.sidebar h3 {
    margin-bottom: 24px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #cbd5f5;
    text-decoration: none;
}

.sidebar a.active,
.sidebar a:hover {
    background: #2f3470;
    color: #fff;
}

/* SIDEBAR ACTIVE */
.sidebar.active {
    transform: translateX(0);
}

/* OVERLAY */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}
